body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/548aeafae4b0f6f3aa1d797b/1553457809234-6AT5PIWSB0VBAOJ7U7AY/SebastianDahl-08-_DSF6185-DAG1.jpg");
    background-size: cover;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight: normal;
    /* align-items: center; */
    text-align: center;
    color: black;
}

.counter-app {
    background-color: wheat;
    max-width: 250px;
    margin: 50px auto;
    padding: 10px;
    border-style: double;
    border-radius: 20px;
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 200px;
    /* margin-bottom: 5px; */
    margin: 10px auto;
    border-radius: 5px;
}

#increment-btn {
    display: block;
    /* margin: 10px auto; */
    margin-bottom: 20px;
    background: darkblue;
    letter-spacing: 1.5px;
    border-radius: 25px;
}

#save-btn {
    display: block;
    margin: 10px auto;
    background: darkgreen;
    letter-spacing: 1.5px;
    border-radius: 25px; 
}

#save-el {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}
